.bg {
  background-color: rgb(34, 134, 55);
}
ul.nav li a.nav-link {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
ul.nav li a.nav-link {
  display: inline-block;
  padding-bottom: 1px;
  background: linear-gradient(rgb(34, 134, 55), rgb(34, 134, 55)) center bottom;
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: all 0.65s;
}
ul.nav li a:hover {
  color: rgb(34, 134, 55);
  background-size: 100% 2px;
}
.nav-link:active {
  color: rgb(34, 134, 55);
}
#menu a:focus {
  color: rgb(34, 134, 55);
  background-size: 100% 2px;
}
#karyawan-collapse {
  transition: 0.7s;
}
.arrow-down-animated {
  animation-name: collapse-icon-animation;
  animation-duration: 0.15s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.bi-caret-up-fill-animated {
  animation-name: collapse-icon-animation-reverse;
  animation-duration: 0.25s;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes collapse-icon-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes collapse-icon-animation-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
